<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOLT VIEW</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='VOLT-VIEW_css.css') }}">
    <link rel="icon" type="image/x-icon" href="static\images\VOLT-VIEW_favicon.ico">
</head>
<body>
    <div class="logo-background"></div>
    <img src="static\images\BYTE-BEAST_logo.png" alt="Byte Beast Logo" class="logo">
</body>
</html>